body {
    background-color: #f5f6fa;
}

.weeks-buttons {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem #e3e3e3;
    
    .week-group {
        flex: 1 1 auto;
        text-align: center;
        position: relative;

        .days-group {
            display: none;
            position: absolute;
            margin-top: 0.25rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            box-shadow: 0 0.125rem 0.5rem #e3e3e3;
            padding: 0.25rem;
            border-radius: 0.5rem;

            .btn {
                padding: 0;
                line-height: 2.25rem;
                height: 2.25rem;
                width: 2.25rem;
                text-align: center;
                border-radius: 100%;
                border: none;
                position: relative;

                &:hover {
                    background-color: #ece8db;
                }

                &.active {
                    box-shadow: 0 0 2px 1px #c5c1b6;
                }

                .bi {
                    display: block;
                    font-size: 0.75rem;
                    color: #c5c1b6;
                    line-height: 1;
                    margin-top: -0.75rem;
                    pointer-events: none;
                }
            }
        }

        .btn-check {
            & + .btn {
                color: #b3b3b3;
                font-weight: bold;
                border-radius: 0;
            }

            &:checked + .btn {
                border-color: transparent;
                background-color: #fcf0e2;
                color: black;
            }

            &:checked ~ .days-group {
                display: flex;
                gap: 0.25rem;
            }
        }

        &:first-child .btn-check + .btn {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        &:last-child .btn-check + .btn {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    }
}

.days-pagination {
    align-items: center;

    .day-title {
        font-weight: bold;
        padding: 0 0.5rem;
    }

    .btn {
        border-radius: 100% !important;
        background-color: #3abe72;
        border: none;
        font-size: 1.5rem;
        padding: 0;
        line-height: 1;
        height: 2rem;
        width: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 0.5rem;
}

.mark-complete-btn {
    background-color: #3abe72;
}

.meal-card {
    box-shadow: 0 0.125rem 0.5rem #e3e3e3;
    position: relative;
    border-radius: 0.5rem;
    border: none;

    .meal-type {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        text-transform: uppercase;
    }

    .card-title {
        padding: 0.5rem;
    }

    .meal-details {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        .detail-item {
            text-align: center;
            white-space: nowrap;

            .title {
                font-weight: bold;
                text-transform: uppercase;
            }

            .info {
                font-weight: bold;
                color: #b3b3b3;
            }
        }
    }

    .recipe-btn {
        text-transform: uppercase;
        color: #b3b3b3;
        border-radius: 0;
        border: none;
        padding: 1rem 1.5rem;
    }
}