body {
    background-color: #f5f6fa;
}

.weeks-buttons {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem #e3e3e3;
    
    .week-group {
        flex: 1 1 auto;
        text-align: center;
        position: relative;

        .days-group {
            display: none;
            position: absolute;
            margin-top: 0.25rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            box-shadow: 0 0.125rem 0.5rem #e3e3e3;
            padding: 0.25rem;
            border-radius: 0.5rem;

            .btn {
                padding: 0;
                line-height: 2.25rem;
                height: 2.25rem;
                width: 2.25rem;
                text-align: center;
                border-radius: 100%;
                border: none;
                position: relative;

                &:hover {
                    background-color: #ece8db;
                }

                &.active {
                    box-shadow: 0 0 2px 1px #c5c1b6;
                }

                .bi {
                    display: block;
                    font-size: 0.75rem;
                    color: #c5c1b6;
                    line-height: 1;
                    margin-top: -0.75rem;
                    pointer-events: none;
                }
            }
        }

        .btn-check:checked {
            & + .btn {
                border-color: transparent;
                background-color: #fcf0e2;
                font-weight: bold;
            }

            & ~ .days-group {
                display: flex;
                gap: 0.25rem;
            }
        }
    }
}

.days-pagination {
    align-items: center;

    .day-title {
        font-weight: bold;
        padding: 0 0.5rem;
    }

    .btn {
        border-radius: 100% !important;
        font-size: 1.5rem;
        padding: 0;
        line-height: 1;
        height: 2.5rem;
        width: 2.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
